.navbar-default {
border-width: 5px;
border-color: black;
border-radius: 0px;
}

.container-fluid {
    background-color: gray;
    padding: 0px;
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: bold;
    font-size: x-large;
    background-color: gray;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
}

h1,h2 {
	font-weight: bold;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 4px solid #0a0000;
}

 .navbar-default .navbar-collapse {
    border-color: black;
    border-width: 4px;
    width: 100%;
    background-color: white;
    padding: 0;
    }

.navbar-default .navbar-toggle .icon-bar {
        background-color: black;
        height: 3px;

    }

.navbar-default .navbar-toggle {
        border-color: black;
    }

.navbar-toggle {
        border: 2px solid transparent;
}

#really-tall-section {
        background-color: gray;
        font-weight: bold;
        font-size: large;
        color: black;
        margin-left: 20px;
        margin-right: 20px;
}